<h2>Mordiscos (entradas)</h2>
<ion-img src="./././././assets/images/MordiscosLista.PNG"></ion-img>
<h4>Selecciona lo que desees añadir a tu pedido</h4><br>

<ion-item routerLink="{{ item.url }}" *ngFor="let item of list; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ item.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of item.ingredientes">{{item2}}</p> 
  </ion-label>
</ion-item>

<br>
<h5>Mazorcadas</h5><br>

<ion-item routerLink="{{ itemb.url }}" *ngFor="let itemb of list2; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ itemb.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of itemb.ingredientes">{{item2}}</p> 
  </ion-label>
</ion-item>
