ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}
p{
    font-family: SourceSerif4 !important; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 2px;
}
ion-icon{
    color: #C5A961;
}
.title{
    font-family: SupermercadoOne !important;
    color: #C5A961;
    text-align: center;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs{
    background-color: #ffffff;
    width: 90vw;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #b1afaf;
    font-family: SourceSerif4 !important; 
}
.selector{
    height: 42px;
}
.selector-option{
    font-family: SourceSerif4 !important; 
}
a{
    color: #C5A961;
    text-decoration: none;
}
.password-reminder{
    text-align: end;
    font-size: small;
    margin-top: 20px;
}
.password-reminder-2{
    text-align: end;
    font-size: small;
    margin-top: 5px;
    margin-top: -20px;
    margin-bottom: -5px;
}
.password-reminder-3{
    text-align: center;
    font-size: small;
    margin-top: 3px;
    margin-bottom: -5px;
}
#register-reminder{
    font-size: small;
    color: #8b8b8b;
    text-align: center;
}
#login-button{
    --background: #C5A961;
    margin-top: 40px;
}
.is-invalid{
    border: 0.5px solid #a82727;
}
.error-message{
    text-align: start;
    font-size: small;
    margin-top: 5px;
    margin-left: 5px;
    color: #a82727;
}
#cancel-button{
    --background: #a02a3a;
    margin-top: 20px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}