<h2>Cocteles</h2>
<ion-img src="../../../../../assets/images/CoctelesListanew.png"></ion-img>
<h4>Disfrútalos en nuestro local</h4><br>

<ion-item (click)="showAlert(i)" *ngFor="let item of list; let i=index" id="{{'i'+i}}">
  <div class="left-container">
    <div class="ion-text-wrap ion-padding" id="title">
      {{ item.name }}
    </div>
    <p class="price">${{ item.price | number }}</p>
  </div>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of item.ingredientes">{{item2}}</p> 
  </ion-label>
</ion-item>
