ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
ion-content{
    --ion-background-color: #f8feff;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}