ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
#MainPic{
    width: 90vw;
    margin: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color: #C5A961;
    font-family: SupermercadoOne !important;
}
.text-frame{
    font-size: 15px;
    text-align: justify;
    margin: 1rem;
    font-family: SourceSerif4 !important;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}