<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  
  <section class="flex ion-padding">
    <h2 class="title">La Tere</h2>
    <img src="././assets/images/Swiper2.jpeg" id="MainPic">
    <div class="flex text-frame">
      <p>Nos presentamos al público como un restaurante lleno de sabor y colores llamativos en todos nuestros platos. Contamos con especialidades de cocteles, postres y de jugos con sabores únicos para cada uno de nuestros clientes; además de exquisiteces en platos ejecutivos, nuestros increíbles mordiscos y platos para los más pequeños de la casa.</p>
      <p>Tomamos muy en cuenta la opinión de nuestro público, y gracias a ellos, nace la idea de llevar al siguiente paso nuestra experiencia culinaria con una sede presencial en Las Quintas, después de manejar una idea familiar de almuerzos a domicilios proveniente de la emergencia sanitaria que mundialmente afectó todos los emprendimientos.</p>
      <p>La Tere Restaurante, con nuestras puertas abiertas desde 2021. ¿Qué esperas para visitarnos?</p>
    </div>
    
  </section>
  
</ion-content>
