<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  
  <section class="flex">
    <br><h2 class="title">La Tere</h2>
    <img src="././assets/images/Swiper2.jpeg" id="MainPic">
    <div class="flex text-frame">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eaque, accusamus beatae enim odio iusto sed ad illo magni rerum culpa at officia dolorem laborum quidem reiciendis a ipsam quae.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis laboriosam ad aperiam dolor culpa. Provident unde, neque nemo a sequi illo vel ducimus cumque vitae eius quis numquam at ipsum?</p>
    </div>
    
  </section>
  
</ion-content>
