<h2>Jugos de La Tere</h2>
<ion-img src="../../../../../assets/images/JugosLista.png"></ion-img>
<h4>Selecciona el jugo que desees añadir a tu pedido</h4><br>
<h5>(12 onzas cada uno)</h5><br>

<ion-item routerLink="{{ item.url }}" *ngFor="let item of list; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ item.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of item.ingredientes">{{item2}}</p>
  </ion-label>
</ion-item>

<br>

<h5>En Leche</h5><br>

<ion-item routerLink="{{ itemc.url }}" *ngFor="let itemc of list3; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ itemc.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of itemc.ingredientes">{{item2}}</p>
  </ion-label>
</ion-item>

<br>

<h5>En Agua</h5><br>

<ion-item routerLink="{{ itemd.url }}" *ngFor="let itemd of list4; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ itemd.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of itemd.ingredientes">{{item2}}</p>
  </ion-label>
</ion-item>

<br>
<h5>Smoothies</h5>
<h6>Disfrútalos en nuestro local</h6><br>

<ion-item *ngFor="let itemb of list2; let i=index" id="{{'i'+i}}">
  <ion-label class="ion-text-wrap ion-padding" id="title">
    {{ itemb.name }}
  </ion-label>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of itemb.ingredientes">{{item2}}</p>
  </ion-label>
</ion-item>