.ion-text-wrap{
    text-align: left !important;
    font-size: smaller;
}
h4,h2,h5,h6{
    text-align: center;
}
h2,h5{
    color: #C5A961;
}
ion-img{
    height: 150px;
}

#i0,#i2,#i4,#i6,#i8,#i10{
    --ion-background-color: #eee8d5;
    border-radius: 5px;
}
#title{
    font-size: 16px;
    
}