ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs{
    background-color: #ffffff;
    width: 90vw;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #b1afaf;
    font-family: SourceSerif4 !important; 
}
ion-icon{
    color: #C5A961;
}
.title{
    font-family: SupermercadoOne !important;
    color: #C5A961;
    text-align: center;
}
#form-button{
    --background: #C5A961;
    margin-top: 40px;
}
#currentPassForm-form-button{
    --background: #C5A961;
    margin-top: 40px;
}
.password-reminder{
    text-align: end;
    font-size: small;
    margin-top: 20px;
}
.password-reminder-2{
    text-align: end;
    font-size: small;
    margin-top: 5px;
    margin-top: -20px;
    margin-bottom: -5px;
}
p{
    font-family: SourceSerif4 !important; 
    width: 100%;
}
.is-invalid{
    border: 0.5px solid #a82727;
}
.error-message{
    text-align: start;
    font-size: small;
    margin-top: 5px;
    margin-left: 5px;
    color: #a82727;
}
.success-message{
    text-align: start;
    font-size: small;
    margin-top: 5px;
    margin-left: 5px;
    color: #49c431;
}
.alert-div{
    margin-top: 40px;
}
.alert-div-p1{
    background-color: #dee78a;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.alert-div-p2{
    background-color: #e9a096;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.alert-div-p3{
    background-color: #9ae996;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.alert-div-p0{
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}