<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <section class="flex">
    <br><h2 class="title">¡Coméntanos tu experiencia!</h2>
    <img src="../../../assets/icon/experienciaVector.svg" alt="exp" id="main-img">
    <div class="flex text-frame">
      <p class="main-p">Para La Tere, es muy importante escuchar sus clientes, ¡y tu eres uno de ellos! Queremos saber tu opinión y conocer tu experiencia con nuestro restaurante, así como con nuestra App.</p>
      <p class="secundary-p">¡Danos una puntuación, anímate!</p>
      <ion-button expand="block" class="button-calificar" href="https://forms.gle/S7kueiHXCapdyCZa6" target="blank">Calificar</ion-button>
    </div>
  </section>
</ion-content>
