<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <main>
  <section class="flex">
      <br>
      <h1 class="title">Sobre la App</h1>

      <div class="flex text-frame">
        <p>Versión 1.0</p>
        <p>Disponible actualmente en Android 8 o superior.</p>
        <h2 class="title title2">Sobre los desarrolladores</h2>
        <div class="dev-images">
          <img src="../../../assets/images/Edwin.png" alt="Dev Edwin">
          <img src="../../../assets/images/Katherine.PNG" alt="Dev Katherine">
        </div>
        <div class="dev-names">
          <p class="dev-names-p1">Edwin Fabian Nemeguen Avila</p>
          <p class="dev-names-p3">&</p>
          <p class="dev-names-p2">Katherine Juliet Montiel Molina</p>
        </div>
        <p class="final-p">Estudiantes de la Universitaria Agustiniana.</p>
      </div>
      <a class="uniagustiniana" href="https://www.uniagustiniana.edu.co/" target="blank"> 
        <img src="../../../assets/images/Uniagustiniana.png" alt="Uniagustiniana">
      </a>
  </section> 
</main>
</ion-content>