<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <section class="flex">
    <br><h2 class="title">Contáctanos</h2>
    
    <div class="flex text-frame">
      <p>¿Tienes alguna duda acerca de nuestro servicio, o de nuestros platos?</p>
      <br>
      <p>Comunícate con nosotros a través de nuestra línea telefónica:</p>
      <br>
      <ion-button expand="block" class="button-llamar" (click)="makeCall()">322 894 9288</ion-button>
      <br>
      <h4 class="title">Contáctanos a través de nuestras redes sociales:</h4>
      <br>
      <div class="ion-text-center">
        <ion-button shape="round" href="https://www.instagram.com/latereburgerstunja/" target="blank"><ion-icon name="logo-instagram"></ion-icon></ion-button>
        <ion-button shape="round" href="https://www.facebook.com/profile.php?id=100072870474124" target="blank"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        <ion-button shape="round" href="https://wa.me/573228949288" target="blank"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </div>
    </div>
  </section>
</ion-content>
