<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon>
    </ion-title>

    <!-- <ion-img src="././assets/images/Logo.JPG"></ion-img> -->
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h3 class="ion-text-center">¿Aún no conoces nuestro restaurante en persona?</h3>
    <app-swiper></app-swiper><br>
    <ion-label class="ion-text-center">
      <p>No esperes más y visítanos, te estamos esperando.</p>
      <p>Conoce nuestra ubicación <a routerLink="/tabs/tab4/ubicanos"> aquí</a>.</p>
    </ion-label>
  </div>

  
  <div class="ion-padding">

    <h3 class="ion-text-center">Corte de Temporada </h3>
    <h3 class="ion-text-center" id="subh3">(selección del dia)</h3>

    <div class="ion-padding-top">
      <app-corte-del-dia></app-corte-del-dia>
    </div><br>

    <h3 class="ion-text-center">Visita nuestras redes sociales</h3>
    
    <app-redes-sociales></app-redes-sociales>

    <h3 class="ion-text-center">¿Necesitas ayuda?</h3>
    <p class="lastp">Dirígete al apartado <a routerLink="/help">ayuda</a> para más información.</p>
  </div>
</ion-content>