ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
h3{
    color: #C5A961;
}

a{
    text-decoration: none;
}
#subh3{
    margin-top: -10px;
}