ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
h3{
    color: #C5A961;
}

a{
    text-decoration: none;
    color: #C5A961;
}
#subh3{
    margin-top: -10px;
}
h3{
    font-family: SupermercadoOne !important;
}
ion-content{
    font-family: SourceSerif4 !important;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}
.lastp{
    font-family: SourceSerif4 !important;
    font-size: 14px;
    text-align: center;
    color: #666666;
}