<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
      
      <!-- <ion-img src="././assets/images/Logo.JPG"></ion-img> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>



  

</ion-content>



