<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true" class="flex">
    
    <h1 class="title">Tu pedido:</h1>
    <section class="flex">
      
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="fast-food-outline"></ion-icon>
          <ion-label>Hamburguesa - Tere Master</ion-label>
          <ion-icon slot="end" name="close-circle-outline" class="close-icon"></ion-icon>
        </ion-item>
      
        <ion-card-content>
          - Carne de Res 125g, - Carne Desmechada, - Cebolla Encurtida, - Queso Americano, - Lechuga Fresca, - Alioli
        </ion-card-content>

        <ion-item class="money">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>$25.000</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="fast-food-outline"></ion-icon>
          <ion-label>Hamburguesa - Tere Master</ion-label>
          <ion-icon slot="end" name="close-circle-outline" class="close-icon"></ion-icon>
        </ion-item>
      
        <ion-card-content>
          - Carne de Res 125g, - Carne Desmechada, - Cebolla Encurtida, - Queso Americano, - Lechuga Fresca, - Alioli
        </ion-card-content>

        <ion-item class="money">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>$25.000</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="fast-food-outline"></ion-icon>
          <ion-label>Hamburguesa - Tere Master</ion-label>
          <ion-icon slot="end" name="close-circle-outline" class="close-icon"></ion-icon>
        </ion-item>
      
        <ion-card-content>
          - Carne de Res 125g, - Carne Desmechada, - Cebolla Encurtida, - Queso Americano, - Lechuga Fresca, - Alioli
        </ion-card-content>

        <ion-item class="money">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>$25.000</ion-label>
        </ion-item>
      </ion-card>

      <div class="buttons">
        <ion-button class="confirm-button">Confirmar pedido</ion-button>
        <ion-button class="cancel-button">Cancelar pedido</ion-button>
      </div>
      

    </section>

  </ion-content>

