ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    font-family: SupermercadoOne !important;
    color: #C5A961;
    text-align: center;
}
.close-icon{
    color: #a02a3a;
}
.close-button{
    --background: none;
}
ion-card{
    margin-top: 10px;
    width: 85%;
}
ion-item{
    --background: linear-gradient(#FFF499, #ceba89);
}
ion-card-content{
    background-color: #f8f1e1;
}
.money{
    --background: #ece6d3;
}
ion-label{
    font-family: SupermercadoOne !important;
}
ion-card-content{
    font-family: SourceSerif4 !important; 
}
.confirm-button{
    --background:#C5A961;
    margin-top: 20px;
}
.cancel-button{
    --background:#a02a3a;
    margin-top: 20px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.buttons{
    display: flex; 
}
.buttons ion-button {
    width: 50%;
}
.footer-content{
    border-radius: 5px;
    background-color:#d3ceb0;
    display: flex;
    justify-content: space-evenly;
    font-family: SourceSerif4 !important; 
    font-size:medium;
}

.lastp{
    text-align: center;
    font-size: small;
    margin-top: 20px;
    font-family: SourceSerif4 !important; 
}
a{
    color: #C5A961;
    text-decoration: none;
}
#main-img{
    width: 55vw;
    margin-top: 100px;
    margin-left: -20px;
}
.text-frame{
    font-size: 15px;
    margin: 1rem;
    text-align: center;
}
.green-div-p1{
    background-color: #e4e3b0;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    margin: 1rem;
    font-family: SourceSerif4 !important; 
}
.listdivs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.inputs{
    background-color: #ffffff;
    width: 90vw;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #b1afaf;
    font-family: SourceSerif4 !important; 
}