<ion-app>

    <ion-menu side="start" contentId="main" swipeGesture="true">
      <ion-header>
        <ion-toolbar color="primary">
          <!--This needs extra CSS-->
          
          <ion-title id="main-title">
            Ingresa a tu cuenta
          </ion-title>
          
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
  
          <ion-menu-toggle auto-hide="true">
            <ion-item button routerLink="login" class="options">
              <ion-icon src="./assets/icon/userVector.svg" slot="start"></ion-icon>
              Ingresar
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item button routerLink="register">
              <ion-icon src="./assets/icon/registrarseVector.svg" slot="start"></ion-icon>
              Regístrate
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item button routerLink="tabs/tab1">
              <ion-icon src="./assets/icon/helpVector.svg" slot="start"></ion-icon>
              Ayuda
            </ion-item>
          </ion-menu-toggle>

  
        </ion-list>

      </ion-content>

    </ion-menu>

    

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
