<h2>Brochetas y Patacones De La Casa</h2>
<ion-img src="../../../../assets/images/BrochetasListanew.png"></ion-img>

<h4>Selecciona la que desees añadir a tu pedido</h4><br>

<h5>Brochetas</h5>
<h5>(Carne de res, pollo y cerdo)</h5>


<ion-item *ngFor="let item of list; let i=index" id="{{'i'+i}}" (click)="mainFunction(i)">
  <div class="left-container">
    <ion-label class="ion-text-wrap ion-padding" id="title">
      {{ item.name }}
    </ion-label>
    <p class="price">${{ item.price | number }}</p>
  </div>
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of item.ingredientes">{{item2}}</p> 
  </ion-label>
</ion-item>

<br>
<h5 id="patacones">Patacones</h5>

<ion-item *ngFor="let itemb of list2; let i=index" id="{{'i'+i}}" (click)="patacones(i)">
  <div class="left-container">
    <ion-label class="ion-text-wrap ion-padding" id="title">
      {{ itemb.name }}
    </ion-label>
    <p class="price">${{ itemb.price | number }}</p>
  </div>
  
  <ion-label class="ion-text-wrap">
    <p *ngFor="let item2 of itemb.ingredientes">{{item2}}</p> 
  </ion-label>
</ion-item>
