.ion-text-wrap{
    text-align: left !important;
    font-size: smaller;
}
h4,h2,h5{
    text-align: center;
}
h5{
    color: rgb(255, 51, 0);
}
h2,h5{
    color: #C5A961;
}
ion-img{
    height: 150px;
}