
  <!-- All of this can be done easely with a loop so we would save a lot of code (done)-->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">


        
        <ion-card button *ngFor="let item of menuOptions" routerLink="{{item.menuUrl}}" >
          <ion-img src="{{item.menuImage}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{item.menuName}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{item.menuDescription}}
          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>

  


