<div class="ion-padding">


  <!-- All of this can be done easely with a loop so we would save a lot of code-->
  <!-- Task pending-->


  <ion-card button routerLink="hamburguesas1">
    <ion-img src="./././assets/images/Hamburguesa.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Hamburguesas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="perros">
    <ion-img src="./././assets/images/Perro.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Perros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="platos">
    <ion-img src="./././assets/images/Costilla.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Platos a la Carta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="alitas">
    <ion-img src="./././assets/images/Alitas.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Alitas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="mordiscos">
    <ion-img src="./././assets/images/Patacon.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Mordiscos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="brochetas">
    <ion-img src=""></ion-img>
    <ion-card-header>
      <ion-card-title>Brochetas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="patacones">
    <ion-img src="./././assets/images/Patacon2.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Patacones</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="cervezasygaseosas">
    <ion-img src=""></ion-img>
    <ion-card-header>
      <ion-card-title>Cervezas y Gaseosas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="jugos">
    <ion-img src=""></ion-img>
    <ion-card-header>
      <ion-card-title>Jugos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="cocteles">
    <ion-img src=""></ion-img>
    <ion-card-header>
      <ion-card-title>Cocteles</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="postres">
    <ion-img src=""></ion-img>
    <ion-card-header>
      <ion-card-title>Postres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
    </ion-card-content>
  </ion-card>


</div>
