ion-card {
    --ion-background-color:linear-gradient(#FFF499, #ceba89);
    margin-top: 20px;
    border-radius: 10px;
}
ion-card-content{
    color: #a02a3a;
    font-family: SourceSerif4 !important;
    //font-family: SupermercadoOne !important;
}
ion-card-title{
    font-family: PautaOne !important;
}