ion-card{
    border-radius: 7px;
}

ion-card {
    --ion-background-color:#e0e9ee;
}
ion-item{
    --ion-background-color:linear-gradient(180deg, rgba(248,254,255,1)34%, rgb(232, 239, 250)67%);
}
ion-card-title{
    font-family: SourceSerif4 !important;
}
ion-label{
    font-family: SourceSerif4 !important;
}