ion-title{
    text-align: center;
    margin-right: 45px;
}
.logo{
    font-size:60px;
    text-align: center;
}
ion-toolbar{
    --ion-background-color: #FBFBFB;
}
.title{
    font-family: SupermercadoOne !important;
    color: #C5A961;
    text-align: center;
    margin-top: 20px;
}
.text-frame{
    font-size: 15px;
    margin: 1rem;
    text-align: center;
}
p{
    font-family: SourceSerif4 !important; 
    width: 100%;
}
#main-img{
    width: 55vw;
    margin-top: 100px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.map-container{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.noScroll {
    overflow: hidden;
}
