<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon class="logo" src="././assets/icon/LogoVector.svg"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <section class="flex">
    <img src="../../../assets/images/Gears.PNG" alt="exp" id="main-img">
    <h1 class="title">¡UPS!</h1>
    <div class="flex text-frame">
      <p class="main-p">Aún estamos preparando algo especial para ti.</p>
    </div>
  </section>
</ion-content>
